.parent {
  position: relative;
}
.child {
  display:none;
  position: absolute;
  background-color: #222;
  width: 100em;
  margin-top: 20px;
  border: black;
  border-bottom:2px solid green;
}
.parent:hover .child {
  display:flex;
  gap: 20px;
}
