.parent {
  position: relative;
}
.child {
  display:none;
  position: absolute;
  background-color: #222;
  width: 100em;
  
  margin-top: 18px;
  border: black;
  border-bottom:2px solid green;
}
.parent:hover .child {
  display:flex;
  gap: 20px;
}

@media(max-width:450px){
  .navbar{
    width: auto;
    display: flex;
    background-color: red;
  }
  
}