@font-face {
  font-family: "razer-font";
  src: url("./fonts/fifth.woff");
}

body {
  margin: 0;
  font-family: "razer-font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  color: white;
}

code {
  font-family: "razer-font",source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}